:root {
    --bg: #222222;
    --bgO: #22222286;
    --mid: #747474;
    --light: #F2F5EA;
    --red: #FE5F55;
    --orange: #F9C22E;
    --blue: #7FC8F8;
    --green: #9CE37D;
}

body {
    background-color: var(--bg);
}



html{
    background-color: var(--bg);
}




.container {
    position: relative;
}

#block {

    z-index: 1000;
    float: left;
    width: 100px;
    height: 20px;
}

.inputWrapper {

    position:absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    position: absolute;
}

.countryInput {
    width: 100%;
    display: block;
    font-size: 20px;
    font-family: 'Quattrocento Sans', sans-serif;
    margin-left: 52px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: var(--bgO);
    color: var(--green);
    height: 1.5em;
    border: solid 2px var(--mid);
    z-index: 10000;
}

select {
    position: relative;
    font-family: 'Quattrocento Sans', sans-serif;
}



.h2 {
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    
}

.h3 {
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    
}

.item {
    display: flex;
    flex-basis: 1 1 0;
}


.map {
    position: absolute;
    width: 100%;
    height: 99vh;
}


#mapid {
    height: 100%;
    background-color: #222222;
}



/* infoTable */

tr,th,td,thead,tbody,table {
    white-space: nowrap;
}
.table {
    white-space: nowrap;
}