:root {
    --bg: #222222;
    --bgO: #22222286;
    --mid: #747474;
    --light: #F2F5EA;
    --red: #FE5F55;
    --orange: #F9C22E;
    --blue: #7FC8F8;
    --green: #9CE37D;
}

body {
    background-color: var(--bg);
}



html{
    background-color: var(--bg);
}




.container {
    position: relative;
}



.inputWrapper {
    z-index: 10000000;
    position:absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    position: absolute;

}

.countryInput {
    width: 100%;
    font-size: 20px;
    font-family: 'Quattrocento Sans', sans-serif;
    margin-left: 52px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: var(--bgO);
    color: var(--green);
    height: 1.5em;
    border: solid 2px var(--mid);
    z-index: 10000;
}

select {
    position: relative;
    font-family: 'Quattrocento Sans', sans-serif;
}



.h2 {
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    
}

.h3 {
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    
}

.item {
    display: flex;
    flex-basis: 1 1 0;
}


.map {
    position: absolute;
    width: 100%;
    height: 99vh;
}

.bottom {
    z-index:1000; 
    width: 100%;
    position: fixed;
    bottom: 80px;
}

#forecast {
    display: none;
    width: 100%;
    font-size: 20px;
    font-family: 'Quattrocento Sans', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    background: #00000000;
    color: var(--green);
    height: 1.5em;
    z-index: 10000;
}

#forecastTime {
    display: none;
    white-space: nowrap;
    width: 10%;
    font-size: 20px;
    font-family: 'Quattrocento Sans', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom:5px;
    text-align: center;
    color: var(--orange);
    height: 0.5em;
    z-index: 10000;
    bottom: 50px;
}

#mapid {
    height: 100%;
    background-color: #222222;
}

.rightMargin {
    width: 10px
}

/* clear button */

.clearButton {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 1000;
    font-size: 40px;
    color: var(--red);
    position:fixed;
    z-index: 100000;
    right: 10px;
    top: 45px;
}

#clearButtonStyle {
    display:none;
    border: black 2px solid;
    height: 30px;
    width: 30px;
    border-radius: 15%;

    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    display: table-cell;
}

#clearButtonInner {
    display: fixed;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin-right: 0.5px;
    top: 43px;
    padding-right: 5px;
}

#clearButton {
    display: none
}

/* infoTable */

.viewPortContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    position: absolute;
    height: 100vh;
    width: 100%;
    pointer-events: none;

}

.buttonsWidth {
    pointer-events: none;
    width: 52px;

}

.awayFromButtons {
    width: 100%;
    pointer-events: none;
}

.table {
    display: 'none';
    font-family: 'Quattrocento Sans', sans-serif;
    position: relative;
    white-space: nowrap;
    text-align: center;
    z-index: 10000;
    left: 50%;
    right: 50%;
    top: 30%;
    bottom: 50%;
    height: 200px;
    transform: translate(-50%, 0); 
    min-width: 250px;
    max-width:400px;
}

th.infoTable {

    font-size: 2em;
    font-variant: small-caps;
}

#infoHeader {
    color: var(--blue);
}

.firstCol {
    text-align: left;
}

.tableNumber {
    text-align: right;
    margin-right: 10px;
}

#informationTable {
    display: none;
}


/* time table */

#timeTable {
    display: none;
}

#timeHeader {
    color: var(--red);
}

/* city table */

#cityHeader {
    color: var(--orange);
}

#cityTable {
    display: none;
    pointer-events: all;
    height: 150px;
}
/* country flag */

.countryFlag {
    position: fixed;
    z-index: 10000;
    right: 10px;
    bottom: 80px
}

#countryFlag {
    display: none;
}

/* earthquake table */

#earthquakeTable {
    height: 100px;
    display: none
}

/* slider styles */ 

input[type=range] {
    height: 30px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: var(--bgO);
    border-radius: 5px;
    border: 1px solid var(--light);
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 22px;
    width: 18px;
    border-radius: 10px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--bgO);
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: var(--bgO);
    border-radius: 5px;
    border: 1px solid var(--light);
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 22px;
    width: 18px;
    border-radius: 10px;
    background: #FFFFFF;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: var(--bgO);
    border: 1px solid var(--light);
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
    background: var(--bgO);
    border: 1px solid var(--light);
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 22px;
    width: 18px;
    border-radius: 10px;
    background: #FFFFFF;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: var(--bgO);
}
input[type=range]:focus::-ms-fill-upper {
    background: var(--bgO);
}